<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/professor">Project Software Engineering University</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/professor">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/professor/teachings">Your Teachings</a>
      <a class="nav-item nav-link" routerLink="/professor/reports">Reports</a>
      <a class="nav-item nav-link" (click)="logout()" routerLink="/">Logout</a>
    </div>
  </div>
</nav>
