<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Teaching form</h4>
    <button type="button" class="close" aria-label="Close" (click)="this.modalRef.close(null)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form >
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="teachingmodel.name">
      </div>
      <div class="form-group">
        <label>CFU</label>
        <input type="number" name="cfu" min="1" class="form-control" [(ngModel)]="teachingmodel.cfu">
      </div>
      <div class="form-group">
        <label>Course year</label>
        <input type="number" name="course year" min="1" max="3" class="form-control" [(ngModel)]="teachingmodel.courseYear">
      </div>
      <div class="form-group">
        <label>Professor</label>
        <select name="prof" class="form-control" [(ngModel)]="profmodel.idUser">
          <option value=""></option>
          <option *ngFor="let p of plist" value="{{ p.idUser }}">{{ p.name}} {{ p.surname }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Associated Study Courses:</label>
        <div *ngFor="let sc of sclist">
          <label>
            <input type="checkbox" name="studycourse" value="{{ sc.idStudyCourse }}" [checked]="sc.checked" (change)="changestatus(sc)">
            {{ sc.name }}
          </label>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="!(teachingmodel.name) || !(profmodel.idUser)" (click)="this.modalRef.close('save')" class="btn btn-block mb-4">Add teaching</button>
  </div>
</ng-template>

<app-secrnavbar></app-secrnavbar>
<div class="container">
  <button class="btn btn-sm btn-secondary" (click)="backEvent()">Back</button>
</div>
<div class="container">
  <h2>Teachings List</h2>
  <table>
    <tr>
      <th>#</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <th>Name</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <th>CFU</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <th>Professor</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <th>Course Year</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <th>Study Course</th>
    </tr>
    <tr *ngFor="let t of tlist">
      <td>{{ tlist.indexOf(t)+1 }} </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td>{{ t.name }}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td>{{ t.cfu }}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td>{{ t.user.name }} {{ t.user.surname }}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td>{{ t.courseYear }}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td>
        <div *ngFor="let sc of t.studycourses">
          {{ sc.name }},
        </div>
      </td>&nbsp;
      <td><button class="btn btn-sm btn-secondary" (click)="editelem(t, content)">Edit</button></td>
    </tr>
  </table>
  <div *ngIf="tlist.length == 0"><h4>There are no teachings!</h4></div>
</div>

<br>
<div class="container">
  <button (click)="showTeachingForm(content)" class="btn btn-sm btn-secondary">Add new teaching</button>
  <br>
</div>
<br>
