<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Teaching form</h4>
    <button type="button" class="close" aria-label="Close" (click)="this.modalRef.close(null)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form >
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="teachingmodel.name">
      </div>
      <div class="form-group">
        <label>CFU</label>
        <input type="number" name="cfu" min="1" class="form-control" [(ngModel)]="teachingmodel.cfu">
      </div>
      <div class="form-group">
        <label>Course year</label>
        <input type="number" name="course year" min="1" max="3" class="form-control" [(ngModel)]="teachingmodel.courseYear">
      </div>
      <div class="form-group">
        <label>Professor</label>
        <select name="prof" class="form-control" [(ngModel)]="profmodel.idUser">
          <option value=""></option>
          <option *ngFor="let p of plist" value="{{ p.idUser }}">{{ p.name}} {{ p.surname }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Associated Study Courses:</label>
        <div *ngFor="let sc of sclist">
          <label>
            <input type="checkbox" name="studycourse" value="{{ sc.idStudyCourse }}" [checked]="sc.checked" (change)="changestatus(sc)">
            {{ sc.name }}
          </label>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="!(teachingmodel.name) || !(profmodel.idUser)" (click)="this.modalRef.close('save')" class="btn btn-block mb-4">Add teaching</button>
  </div>
</ng-template>

<!--
<app-secrnavbar></app-secrnavbar>
<div class="container">
  <button class="btn btn-sm btn-secondary" (click)="backEvent()">Back</button>
</div>
-->
<br>
<div class="container">
  <h2>Teachings List</h2>
  <table mat-table [dataSource]="tlist" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{tlist.indexOf(element)+1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="cfu">
      <th mat-header-cell *matHeaderCellDef> CFU </th>
      <td mat-cell *matCellDef="let element"> {{element.cfu}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="professor">
      <th mat-header-cell *matHeaderCellDef> Professor </th>
      <td mat-cell *matCellDef="let element"> {{element.user.name}} {{element.user.surname}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="courseyear">
      <th mat-header-cell *matHeaderCellDef> CourseYear </th>
      <td mat-cell *matCellDef="let element"> {{element.cfu}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="studycourses">
      <th mat-header-cell *matHeaderCellDef> StudyCourses </th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor="let sc of element.studycourses">
          {{ sc.name }},
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button class="btn btn-sm btn-secondary" (click)="editelem(element, content)">Edit</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<br>
<div class="container">
  <button (click)="showTeachingForm(content)" class="btn btn-sm btn-secondary">Add new teaching</button>
  <br>
</div>
<br>
