<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create new calendar</h4>
    <button type="button" class="close" aria-label="Close" (click)="this.modalRef.close(null)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Start Academic year</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="number" name="start" min="{{ currentyear }}" max="2099" step="1" [(ngModel)]="startyearmodel" />
      </div>
      <div class="form-group">
        <label>End Academic year</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="number" name="end" min="{{ currentyear+1 }}" max="2099" step="1" [(ngModel)]="endyearmodel" />
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button (click)="this.modalRef.close('save')" class="btn btn-block mb-4">Add Calendar</button>
  </div>

</ng-template>

<!--
<app-secrnavbar></app-secrnavbar>
<div class="container">
  <button class="btn btn-sm btn-secondary" (click)="backEvent()">Back</button>
</div>
-->
<br>
<div class="container">
  <h2>Calendar List</h2>
  <table mat-table [dataSource]="clist" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{clist.indexOf(element)+1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="ac_year">
      <th mat-header-cell *matHeaderCellDef> AcademicYear </th>
      <td mat-cell *matCellDef="let element"> {{element.academicYear}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


<br>

<div class="container">
  <button (click)="showNewCalendarForm(content)" class="btn btn-sm btn-secondary">Create new calendar</button>
  <br>
</div>
<br>
