<app-secrnavbar></app-secrnavbar>
<div class="container">
  <button class="btn btn-sm btn-secondary" (click)="backEvent()">Back</button>
</div>
<div class="container">
  <h2>Lectures List</h2>
  <input type="date" name="date" [(ngModel)]="selecteddate">&nbsp;&nbsp;&nbsp;
  <button class="btn btn-sm btn-secondary" (click)="showbydate()">Show By Date</button>
  <br><br>
  <select name="teaching" [(ngModel)]="selectedidteaching">
    <option value=""></option>
    <option *ngFor="let t of tlist" value="{{ t.idTeaching }}">{{ t.name }} ({{ t.user.name }} {{ t.user.surname }})</option>
  </select>&nbsp;&nbsp;&nbsp;
  <button class="btn btn-sm btn-secondary" (click)="showbyteaching()">Show By Teaching</button>
  <br><br>
  <table>
    <tr>
      <th>#</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <th>Teaching</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <th>Professor</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <th>Classroom</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <th>Date</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <th>Hour</th>
    </tr>
    <tr *ngFor="let l of lectureslist">
      <td>{{ lectureslist.indexOf(l)+1 }} </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td>{{ l.teaching.name }}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td>{{ l.teaching.user.name }} {{ l.teaching.user.surname }}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td>{{ l.classroom.name }}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td>{{ l.date }}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td>{{ l.starttime }} - {{ l.endtime }}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td><button class="btn btn-sm btn-secondary" (click)="editelem(l, content)">Edit</button></td>
    </tr>
  </table>
  <div *ngIf="lectureslist.length == 0"><h4>There are no lectures!</h4></div>
</div>
<hr>
<br>
<div class="container">
  <button (click)="showForm(content)" class="btn btn-sm btn-secondary">Add new lecture</button>
  <br>
</div>
<br>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Lecture form</h4>
    <button type="button" class="close" aria-label="Close" (click)="this.modalRef.close(null)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Classroom</label>
        <select name="classroom" class="form-control" [(ngModel)]="classroommodel.idClassroom">
          <option value=""></option>
          <option *ngFor="let c of clslist" value="{{ c.idClassroom }}">{{ c.name }}</option>
        </select>
      </div>
      <div class="form-group" *ngIf="!showeditform">
        <label>Teaching</label>
        <select name="teaching" class="form-control" [(ngModel)]="teachingmodel.idTeaching">
          <option value=""></option>
          <option *ngFor="let t of tlist" value="{{ t.idTeaching }}">{{ t.name }} ({{ t.user.name }} {{ t.user.surname }})</option>
        </select>
      </div>
      <div class="form-group" *ngIf="!showeditform">
        <label>Start Date</label>
        <input type="date" name="sdate" class="form-control" [(ngModel)]="startdatemodel">
      </div>
      <div class="form-group" *ngIf="!showeditform">
        <label>End Date</label>
        <input type="date" name="edate" class="form-control" [(ngModel)]="enddatemodel">
      </div>
      <div class="form-group" *ngIf="!showeditform">
        <label>Choose some days:</label>
        <div *ngFor="let w of weeklist">
          <label>
            <input type="checkbox" name="days" value="{{ w.name }}" [checked]="w.checked" (change)="changestatus(w)">
            {{ w.name }}
          </label>
        </div>
      </div>
      <div class="form-group" *ngIf="showeditform">
        <label>Date</label>
        <input type="date" name="date" class="form-control" [(ngModel)]="datemodel">
      </div>
      <div class="form-group">
        <label>Start time</label>
        <input type="text" name="starthour" class="form-control" [(ngModel)]="starttimemodel">
      </div>
      <div class="form-group">
        <label>End time</label>
        <input type="text" name="endhour" class="form-control" [(ngModel)]="endtimemodel">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button *ngIf="showeditform" [disabled]="!(classroommodel.idClassroom) || !(datemodel) || !(starttimemodel) || !(endtimemodel)" (click)="this.modalRef.close('save')" class="btn btn-block mb-4">Edit Lecture</button>
    <button *ngIf="!showeditform" (click)="this.modalRef.close('save')" [disabled]="!(teachingmodel.idTeaching) || !(classroommodel.idClassroom) || !(startdatemodel) || !(enddatemodel) || !(starttimemodel) || !(endtimemodel)" class="btn btn-block mb-4">Add Lecture</button>
  </div>
</ng-template>
