<app-secrnavbar></app-secrnavbar>
<div class="container">
  <button class="btn btn-sm btn-secondary" (click)="backEvent()">Back</button>
</div>
<div class="container">
  <h2>Lectures List</h2>
  <input type="date" name="date" [(ngModel)]="selecteddate">&nbsp;&nbsp;&nbsp;
  <button class="btn btn-sm btn-secondary" (click)="showbydate()">Show By Date</button>
  <br><br>
  <select name="teaching" [(ngModel)]="selectedidteaching">
    <option value=""></option>
    <option *ngFor="let t of tlist" value="{{ t.idTeaching }}">{{ t.name }} ({{ t.user.name }} {{ t.user.surname }})</option>
  </select>&nbsp;&nbsp;&nbsp;
  <button class="btn btn-sm btn-secondary" (click)="showbyteaching()">Show By Teaching</button>
  <table>
    <tr>
      <th>#</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <th>Teaching</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <th>Professor</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <th>Classroom</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <th>Date</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <th>Hour</th>
    </tr>
    <tr *ngFor="let l of lectureslist">
      <td>{{ lectureslist.indexOf(l)+1 }} </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td>{{ l.teaching.name }}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td>{{ l.teaching.user.name }} {{ l.teaching.user.surname }}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td>{{ l.classroom.name }}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td>{{ l.date }}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td>{{ l.starttime }} - {{ l.endtime }}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td><button class="btn btn-sm btn-secondary" (click)="editelem(l)">Edit</button></td>
    </tr>
  </table>
  <div *ngIf="lectureslist.length == 0"><h4>There are no lectures!</h4></div>
</div>
<hr>
<div class="container" *ngIf="showeditform">
  <h2>Edit Lecture Form:</h2>
  <form (submit)="editlecture()">
    <div class="form-group">
      <label>Classroom</label>
      <select name="classroom" class="form-control" [(ngModel)]="classroommodel.idClassroom">
        <option value=""></option>
        <option *ngFor="let c of clslist" value="{{ c.idClassroom }}">{{ c.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Date</label>
      <input type="date" name="date" class="form-control" [(ngModel)]="datemodel">
    </div>
    <div class="form-group">
      <label>Start time</label>
      <input type="text" name="starthour" class="form-control" [(ngModel)]="starttimemodel">
    </div>
    <div class="form-group">
      <label>End time</label>
      <input type="text" name="endhour" class="form-control" [(ngModel)]="endtimemodel">
    </div>
    <button [disabled]="!(classroommodel.idClassroom) || !(datemodel) || !(starttimemodel) || !(endtimemodel)" class="btn btn-block mb-4">Edit Lecture</button>
  </form>
</div>
<div class="container" *ngIf="!showeditform">
  <h2>New Lecture Form:</h2>
  <button class="btn btn-sm btn-secondary" (click)="cleanform()">Clean Form</button>
  <form>
    <div class="form-group">
      <label>Classroom</label>
      <select name="classroom" class="form-control" [(ngModel)]="classroommodel.idClassroom">
        <option value=""></option>
        <option *ngFor="let c of clslist" value="{{ c.idClassroom }}">{{ c.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Teaching</label>
      <select name="teaching" class="form-control" [(ngModel)]="teachingmodel.idTeaching">
        <option value=""></option>
        <option *ngFor="let t of tlist" value="{{ t.idTeaching }}">{{ t.name }} ({{ t.user.name }} {{ t.user.surname }})</option>
      </select>
    </div>
    <div class="form-group">
      <label>Start Date</label>
      <input type="date" name="sdate" class="form-control" [(ngModel)]="startdatemodel">
    </div>
    <div class="form-group">
      <label>End Date</label>
      <input type="date" name="edate" class="form-control" [(ngModel)]="enddatemodel">
    </div>
    <div class="form-group">
      <label>Choose some days:</label>
      <div *ngFor="let w of weeklist">
        <label>
          <input type="checkbox" name="days" value="{{ w.name }}" [checked]="w.checked" (change)="changestatus(w)">
          {{ w.name }}
        </label>
      </div>
    </div>
    <div class="form-group">
      <label>Start time</label>
      <input type="text" name="starthour" class="form-control" [(ngModel)]="starttimemodel">
    </div>
    <div class="form-group">
      <label>End time</label>
      <input type="text" name="endhour" class="form-control" [(ngModel)]="endtimemodel">
    </div>
    <button (click)="addlecture()" [disabled]="!(teachingmodel.idTeaching) || !(classroommodel.idClassroom) || !(startdatemodel) || !(enddatemodel) || !(starttimemodel) || !(endtimemodel)" class="btn btn-block mb-4">Add Lecture</button>
  </form>
</div>
