<nav class="navbar navbar-dark bg-primary mb-4">
  <a class="navbar-brand" href="#">Project Software Engineering University</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/secretary">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="secretary/newelem">Create/Modify Domain Element</a>
      <a class="nav-item nav-link" href="secretary">Reports</a>
      <a class="nav-item nav-link" href="secretary">Study Courses</a>
      <a class="nav-item nav-link" (click)="logout()" href="#">Logout</a>
    </div>
  </div>
</nav>
