<app-secrnavbar></app-secrnavbar>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ newSecr.name }} {{ newSecr.surname }}</mat-card-title>
    <mat-card-subtitle>{{ newSecr.usertype.typeName }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Email: {{ newSecr.email }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="goto('secretary/newelem')">Domain Elements</button>&nbsp;
    <button mat-raised-button color="primary" (click)="goto('secretary/reports')">Reports</button>
  </mat-card-actions>
</mat-card>
<!--
<div class="container">
  <h2>
    Welcome {{ newSecr.name }} {{ newSecr.surname }}!!!
  </h2>
  <br>
  <h3>Your informations:</h3>
  <ul>
    <li>Email: {{ newSecr.email }}</li>
    <li>Role: {{ newSecr.usertype.typeName }} </li>
  </ul>
  <br>
  <h3>Menù:</h3>
  <a href="secretary/newelem">Create/Modify Domain Element</a>
  <br>
  <a href="secretary/reports">Reports</a>
  <br>
</div>
-->
