.example-card {
  max-width: 1350px;
  background-color: aliceblue;
}

.example-header-image {
  background-image: url('../../assets/person.png');
  background-size: cover;
}

.mat-card {
  text-align: center;
}

.mat-card-title {
  font-size: 20px;
}
