<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Studycourse Form</h4>
    <button type="button" class="close" aria-label="Close" (click)="this.modalRef.close(null)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="scmodel.name">
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type="text" name="description" class="form-control" [(ngModel)]="scmodel.description">
      </div>
      <div class="form-group">
        <label>Associated Academic Year:</label>
        <div *ngFor="let c of clist">
          <label>
            <input type="checkbox" name="calendar" value="{{ c.idCalendar }}" [checked]="c.checked" (change)="changestatus(c)">
            {{ c.academicYear }}
          </label>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="!(scmodel.name) || !(scmodel.description)" (click)="this.modalRef.close('save')" class="btn btn-block mb-4">Add studycourse</button>
  </div>
</ng-template>

<!--
<app-secrnavbar></app-secrnavbar>
<div class="container">
  <button class="btn btn-sm btn-secondary" (click)="backEvent()">Back</button>
</div>
-->
<br>
<div class="container">
  <h2>Study Courses List</h2>
  <table mat-table [dataSource]="sclist" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{sclist.indexOf(element)+1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="ac_years">
      <th mat-header-cell *matHeaderCellDef> AcademicYears </th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let ac of element.calendars">
            {{ ac.academicYear }},
          </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button class="btn btn-sm btn-secondary" (click)="editelem(element, content)">Edit</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


<br>

<div class="container">
  <button (click)="showNewStudycourseForm(content)" class="btn btn-sm btn-secondary">Add Studycourse</button>
  <br>
</div>
<br>
