<app-profnavbar></app-profnavbar>
<div class="card" *ngIf="teaching">
  <div class="card-body">
    <h3>{{ teaching.name }}</h3>
    <p>CFU: {{ teaching.cfu }}</p>
    <p>CourseYear: {{ teaching.courseYear }}</p>
  </div>
  <div class="card-body">
    <h3>Lectures:</h3>
    <div *ngIf="lectures.length > 0">
      <div class="card" *ngFor="let l of lectures">
        <div class="card-body">
          <h2>Date: {{ l.date }}, Hour: {{ l.starttime }} - {{ l.endtime }} </h2>&nbsp;&nbsp;&nbsp;&nbsp;
          <p>
            <label><a routerLink="{{ l.idLecture }}/ratinglist" (click)="storeLecture(l)">Average Rating</a>:</label>
            <ngb-rating [rate]="l.av_rating" [readonly]="true" max="5"></ngb-rating>
            <br>
            Classroom: {{ l.classroom.name }}
          </p>
          <p></p>
          <p><button (click)="toggleHide(l)" class="btn btn-sm btn-secondary">Show teaching material</button></p>
          <div *ngIf="l.hide_material">
            <ul  *ngFor="let tm of l.tmaterials">
              <li>Link: <a href="{{ tm. link }}">{{ tm.name }}    </a>
                <button (click)="removematerial(l, tm)" class="btn btn-sm btn-secondary">Delete</button> &nbsp;&nbsp;&nbsp;&nbsp;
                <label><a routerLink="{{ tm.idTeachingMaterial }}/ratinglist" (click)="storeTMaterial(tm)">Average Rating</a>:</label>
                <ngb-rating [rate]="tm.av_rating" [readonly]="true" max="5"></ngb-rating>
                <br>
              </li>
            </ul>
          </div>
          <label>Choose the type of teaching material you want to upload:</label>
          <select name="upload_type" (click)="setLect(l)" [(ngModel)]="t_material.type">
            <option value="none"></option>
            <option value="Link">Link</option>
            <option value="File">File</option>
          </select>
          <div *ngIf="t_material.type ==='Link' && t_material.lecture.idLecture == l.idLecture">
            <form (submit)="uploadLink(l)">
              <div class="form-group">
                <label>Resource name:</label>
                <input type="text" name="resource_name" class="form-control" [(ngModel)]="t_material.name">
              </div>
              <div class="form-group">
                <label>Link:</label>
                <input type="text" name="link" class="form-control" [(ngModel)]="t_material.link">
              </div>
              <button [disabled]="!(t_material.name) || !(t_material.link)" class="btn btn-sm btn-secondary">Add Link</button>
            </form>
          </div>
          <div *ngIf="t_material.type ==='File' && t_material.lecture.idLecture == l.idLecture">
            <input type="file" (change)="getFile($event)" class="form-control" id ="myFileField"/>
            <button  mat-raised-button color="primary" class="add-files-btn" (click)="uploadFile(l)">Add Files</button>
          </div>

        </div>
      </div>
    </div>
    <div *ngIf="lectures.length == 0"><h4>You do not have lectures!</h4></div>
  </div>
</div>
