<app-secrnavbar></app-secrnavbar>
<mat-tab-group>
  <mat-tab label="Pending Reports">
    <div class="container">
      <br>
      <h2>Pending Reports</h2>
      <table mat-table [dataSource]="pendingReports" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{pendingReports.indexOf(element)+1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="professor">
          <th mat-header-cell *matHeaderCellDef> Professor </th>
          <td mat-cell *matCellDef="let element"> {{element.userByProfessorIdProfessor.name}} {{element.userByProfessorIdProfessor.surname}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="classroom">
          <th mat-header-cell *matHeaderCellDef> Classroom </th>
          <td mat-cell *matCellDef="let element"> {{element.classroom.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.problemDescription}} </td>
        </ng-container>

        <ng-container matColumnDef="take">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button class="btn btn-sm btn-secondary" (click)="take(element)">Take in charge</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Your Reports">
    <div class="container">
      <br>
      <h2>Your Reports</h2>
      <table mat-table [dataSource]="myreports" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="position1">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{myreports.indexOf(element)+1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="professor1">
          <th mat-header-cell *matHeaderCellDef> Professor </th>
          <td mat-cell *matCellDef="let element"> {{element.userByProfessorIdProfessor.name}} {{element.userByProfessorIdProfessor.surname}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="classroom1">
          <th mat-header-cell *matHeaderCellDef> Classroom </th>
          <td mat-cell *matCellDef="let element"> {{element.classroom.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="description1">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.problemDescription}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.reportstatus.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef> Note </th>
          <td mat-cell *matCellDef="let element"> {{element.note}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button class="btn btn-sm btn-secondary" [disabled]="!(element.reportstatus.name != 'refused' && element.reportstatus.name != 'resolved')" (click)="modify(element, content)">Modify</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Report Form:</h4>
    <button type="button" class="close" aria-label="Close" (click)="this.modalRef.close(null)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Report status</label>
        <select name="prof" class="form-control" [(ngModel)]="reportmodel.reportstatus.idreportStatus">
          <option value="-1"></option>
          <option *ngFor="let rs of rslist" value="{{ rs.idreportStatus }}">{{ rs.name}}</option>
        </select>
      </div>
      <div *ngIf="((reportmodel.reportstatus.idreportStatus == 4) || (reportmodel.reportstatus.idreportStatus == 5)) && !(reportmodel.note)">
        <label>Please insert a motivation!</label>
      </div>
      <div class="form-group">
        <label>Note</label>
        <input type="text" name="note" class="form-control" [(ngModel)]="reportmodel.note">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="this.modalRef.close('save')" [disabled]="((reportmodel.reportstatus.idreportStatus == 4) || (reportmodel.reportstatus.idreportStatus == 5) || (reportmodel.reportstatus.idreportStatus == -1)) && !(reportmodel.note) || (reportmodel.reportstatus.idreportStatus == 3)" class="btn btn-block mb-4">Modify Report</button>
  </div>
</ng-template>
