<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new professor</h4>
    <button type="button" class="close" aria-label="Close" (click)="this.modalRef.close(null)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="usermodel.name">
      </div>
      <div class="form-group">
        <label>Surname</label>
        <input type="text" name="surname" class="form-control" [(ngModel)]="usermodel.surname">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" name="email" class="form-control" [(ngModel)]="usermodel.email">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" [(ngModel)]="usermodel.password">
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="!(usermodel.name) || !(usermodel.surname) || !(usermodel.email) || !(usermodel.password)" (click)="this.modalRef.close('save')" class="btn btn-block mb-4">Add professor</button>
  </div>
</ng-template>

<!--
<app-secrnavbar></app-secrnavbar>
<div class="container">
  <button class="btn btn-sm btn-secondary" (click)="backEvent()">Back</button>
</div>
-->
<br>
<div class="container">
  <h2>Professors List</h2>
  <table mat-table [dataSource]="professorslist" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{professorslist.indexOf(element)+1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} {{element.surname}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="teachings">
      <th mat-header-cell *matHeaderCellDef> Teachings </th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor="let t of element.teachinglist">
          {{ t.name }},
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<br>
<div class="container">
  <button (click)="showForm(content)" class="btn btn-sm btn-secondary">Add new professor</button>
  <br>
</div>
<br>
