<nav class="navbar navbar-dark bg-primary mb-4">
  <a href="#" class="navbar-brand">Project Software Engineering University</a>
</nav>
<div class="container">
  <h3>Log in</h3>
</div>
<div class="card card-body mb-3">
    <div class="form-group">
      <label>Username</label>
      <input type="text" name="username" class="form-control" #uname>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" name="password" class="form-control" #pwd>
    </div>
    <div>
      <button (click)="checkCred(uname.value, pwd.value)" class="btn btn-sm btn-secondary">Sign in</button>
    </div>
</div>
